__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log

# environments
.venv/
.env
config.yaml

# deployment
deployment

# build
build

# packaging meta-data
*.egg-info/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
